body {
    margin: 0;
    padding: 0;
}

#input-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    scale: 0.5;
}

/*
@media screen and (max-width: 1024px) {
    img {
        scale: 0.5;
    }
}
*/